<div *ngIf="!isUserLoggedIn" class="h-100">
    <div class="d-flex h-100 justify-content-center align-items-center">
      <div class="signInBox">
        <div class="d-flex justify-content-center mt-4">
          <span class="signInText">Sign in to continue</span>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <button class="signInButton mb-5" (click)="login()">
            Login with Microsoft &nbsp;<img
              src="../../assets/image/microsoftlogolg.svg"
              class="iconImg"
              alt="Microsft Icon"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="isUserLoggedIn">
    <h1>Login successful!</h1>
  </div>
  