<div class="my-4 matselect-shown">
  <ng-container *ngIf="loader">
    <app-loader></app-loader>
  </ng-container>
  <div *ngIf="!loader">
    <nav aria-label="breadcrumb" class="container-fluid">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          {{ ceDealId }}
        </li>
      </ol>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="h-100 mt-3">
            <h1 class="mb-4">Documents Uploaded</h1>
            <div
              class="first-column p-3 docsheight position-relative"
              *ngIf="uploadedFileURL.length > 0"
            >
              <div class="container-loader-overlay" *ngIf="imageLoader">
                <div class="container-loader-backdrop">
                  <mat-progress-spinner
                    color="primary"
                    mode="indeterminate"
                  ></mat-progress-spinner>
                </div>
              </div>
              <div class="h-100" *ngIf="!imageLoader">
                <ng-container *ngIf="!isPdfFile">
                  <pinch-zoom
                    [wheel]="false"
                    disableZoomControl="disable"
                    #pinchZoom
                  >
                    <img [src]="uploadedFileURL" />
                  </pinch-zoom>
                </ng-container>
                <ng-container *ngIf="isPdfFile">
                  <pdf-viewer
                    [src]="uploadedFileURL"
                    [fit-to-page]="true"
                    [render-text]="true"
                    [original-size]="false"
                    [zoom]="zoom"
                    style="width: 100%; height: 100%"
                  ></pdf-viewer>
                </ng-container>
              </div>

              <div class="img-viewer-btn d-flex justify-content-between">
                <div class="">
                  <a
                    [href]="uploadedFileURL"
                    [download]="'file' + (currentIndex + 1)"
                  >
                    <mat-icon class="download-icon">download</mat-icon>
                  </a>
                </div>
                <div class="">
                  <button
                    [ngClass]="currentIndex === 0 ? 'disable' : ''"
                    [disabled]="currentIndex === 0"
                    mat-icon-button
                    (click)="prevImage()"
                  >
                    <mat-icon>keyboard_arrow_left</mat-icon>
                  </button>
                  <button
                    [ngClass]="
                      currentIndex === borrowerFileInfo?.length - 1
                        ? 'disable'
                        : ''
                    "
                    [disabled]="currentIndex === borrowerFileInfo?.length - 1"
                    mat-icon-button
                    (click)="nextImage()"
                  >
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </button>
                </div>
                <div class="">
                  <button
                    mat-icon-button
                    [disabled]="zoomButtonDisable === 'zoomIn'"
                    (click)="zoomIn()"
                  >
                    <mat-icon>zoom_in</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    [disabled]="zoomButtonDisable === 'zoomOut'"
                    (click)="zoomOut()"
                  >
                    <mat-icon>zoom_out</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div
              class="first-column p-3 docsheight position-relative"
              *ngIf="uploadedFileURL.length === 0"
            >
              <h1>No Document Found</h1>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="h-100 mt-3">
            <div class="d-flex justify-content-between">
              <h1 class="mb-3">Borrower Details</h1>
              <div *ngIf="!isEditForm">
                <button
                  mat-raised-button
                  color="primary"
                  class="btnColor"
                  (click)="editFormField()"
                >
                  &nbsp; Edit &nbsp;<mat-icon>edit</mat-icon>
                </button>
              </div>
              <div class="d-flex align-items-center" *ngIf="isEditForm">
                <button
                  mat-raised-button
                  color="primary"
                  class="btnColor"
                  (click)="saveFormField()"
                  [ngClass]="saveButtonLoader ? 'disable' : ''"
                  [disabled]="saveButtonLoader"
                >
                  <span *ngIf="!saveButtonLoader"> Save</span>
                  <span class="lod" *ngIf="saveButtonLoader">
                    <mat-progress-spinner
                      diameter="20"
                      mode="indeterminate"
                    ></mat-progress-spinner>
                  </span>
                </button>
                <button
                  mat-button
                  class="cancelBtnColor"
                  (click)="resetFormField()"
                >
                  Cancel
                </button>
              </div>
            </div>
            <div class="first-column mt-2">
              <div class="p-3 scrolable-item">
                <form [formGroup]="borrowerDetailForm">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Requested Loan Amount</mat-label>
                        <mat-select formControlName="requestedLoanAmount">
                          <mat-option
                            *ngFor="
                              let drpV of dropDownValue.requestedLoanAmount
                                | keyvalue : returnZero
                            "
                            [value]="drpV.value"
                            >{{ drpV.key }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Final Loan Amount</mat-label>
                        <input matInput formControlName="finalLoanAmount" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Loan Product</mat-label>
                        <mat-select formControlName="loanProduct">
                          <mat-option
                            *ngFor="
                              let drpV of dropDownValue.loanProduct
                                | keyvalue : returnZero
                            "
                            [value]="drpV.value"
                            >{{ drpV.key }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Call Mode</mat-label>
                        <mat-select formControlName="callMode">
                          <mat-option
                            *ngFor="
                              let drpV of dropDownValue.callMode
                                | keyvalue : returnZero
                            "
                            [value]="drpV.value"
                            >{{ drpV.key }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Sector</mat-label>
                        <input matInput formControlName="sector" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>kind Of Loan</mat-label>
                        <mat-select formControlName="kindOfLoan">
                          <mat-option
                            *ngFor="
                              let drpV of dropDownValue.kindOfLoan
                                | keyvalue : returnZero
                            "
                            [value]="drpV.value"
                            >{{ drpV.key }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Is Business GST Registered</mat-label>
                        <mat-select formControlName="isBusinessGSTRegistered">
                          <mat-option
                            *ngFor="
                              let drpV of dropDownValue.isBusinessGSTRegistered
                                | keyvalue : returnZero
                            "
                            [value]="drpV.value"
                            >{{ drpV.key }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Business Turn Over</mat-label>
                        <input matInput formControlName="businessTurnover" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Business Type</mat-label>
                        <mat-select formControlName="businessType">
                          <mat-option
                            *ngFor="
                              let drpV of dropDownValue.businessType
                                | keyvalue : returnZero
                            "
                            [value]="drpV.value"
                            >{{ drpV.key }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Phone Number</mat-label>
                        <input matInput formControlName="phone" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Email Address</mat-label>
                        <input matInput formControlName="email" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>DOB</mat-label>
                        <input
                          matInput
                          [matDatepicker]="picker"
                          formControlName="dateOfBirth"
                          placeholder="MM/DD/YYYY"
                        />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Pan</mat-label>
                        <input matInput formControlName="pan" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Business Address</mat-label>
                        <input matInput formControlName="businessAddress" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Business Pincode</mat-label>
                        <input matInput formControlName="businessPincode" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>city</mat-label>
                        <input matInput formControlName="city" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>State</mat-label>
                        <input matInput formControlName="state" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Personal PAN</mat-label>
                        <input matInput formControlName="personalPAN" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>GSTN</mat-label>
                        <input matInput formControlName="gstn" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Applicants Residential Address</mat-label>
                        <input
                          matInput
                          formControlName="applicantsResidentialAddress"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Applicants Residence City</mat-label>
                        <input
                          matInput
                          formControlName="applicantsCityofResidence"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Applicants Residential State</mat-label>
                        <input
                          matInput
                          formControlName="applicantsStateofResidence"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Applicants Residence Pincode</mat-label>
                        <input
                          matInput
                          formControlName="applicantsResidentialPincode"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>State</mat-label>
                        <input matInput formControlName="state" />
                      </mat-form-field>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- <div> -->
            <div class="mt-3">
              <h1>Type of Document</h1>
              <div class="second-column mt-3 p-3">
                <div class="dropdwon mb-3">
                  <div>
                    <mat-form-field class="multi-chips">
                      <mat-label>Select Document</mat-label>
                      <mat-select
                        [formControl]="typeOfDocument"
                        multiple
                        (selectionChange)="onItemSelected($event)"
                        [disabled]="disableOnNoDocument"
                      >
                        <mat-select-trigger>
                          <mat-chip-list>
                            <mat-chip
                              *ngFor="let category of typeOfDocument.value"
                              [removable]="true"
                              (removed)="onRemovedTypDocument(category)"
                              selected
                            >
                              {{ category }}
                              <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                          </mat-chip-list>
                        </mat-select-trigger>

                        <mat-option
                          *ngFor="let doc of documentWithErrorList"
                          [value]="doc.documentCategory"
                        >
                          {{ doc.documentCategory }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-4 p-3 third-column">
              <div class="document">
                <div class="list-dc">
                  <ng-container
                    *ngIf="dataAccordingToDocument.inputFields.length === 0"
                  >
                    <div
                      class="d-flex justify-content-center align-items-center h-100 noInput"
                    >
                      <p>Please select at least one document</p>
                    </div>
                  </ng-container>
                  <ng-container
                    *ngIf="dataAccordingToDocument.inputFields.length > 0"
                  >
                    <ng-container
                      *ngFor="let input of dataAccordingToDocument.inputFields"
                      ><form [formGroup]="dynamicInputForm">
                        <div class="">
                          <ng-container *ngIf="input.type === 'text'">
                            <mat-form-field class="w-100">
                              <mat-label>{{ input.name }}</mat-label>
                              <input
                                matInput
                                [type]="input.type"
                                [formControlName]="input.key"
                              />
                              <mat-error
                                *ngIf="dynamicInputForm.controls[input.key].errors && dynamicInputForm.controls[input.key].errors?.['required']"
                                >*This field is Required</mat-error
                              >
                            </mat-form-field>
                          </ng-container>
                          <ng-container *ngIf="input.type === 'Date'">
                            <mat-form-field class="w-100">
                              <mat-label>{{ input.name }}</mat-label>
                              <input
                                matInput
                                [matDatepicker]="picker"
                                placeholder="MM/DD/YYYY"
                                [formControlName]="input.key"
                              />
                              <mat-datepicker-toggle
                                matSuffix
                                [for]="picker"
                              ></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                              <mat-error
                                *ngIf="dynamicInputForm.controls[input.key].errors && dynamicInputForm.controls[input.key].errors?.['required']"
                                >*This field is Required</mat-error
                              >
                            </mat-form-field>
                          </ng-container>
                        </div>
                      </form>
                    </ng-container>
                  </ng-container>
                </div>
                <div
                  *ngIf="dataAccordingToDocument.inputFields.length > 0"
                  class="mt-2 d-flex align-items-center"
                >
                  <button
                    class="me-2"
                    mat-raised-button
                    color="warn"
                    (click)="confirmInputFields()"
                    [ngClass]="buttonLoader ? 'disable' : ''"
                    [disabled]="buttonLoader"
                  >
                    <span *ngIf="!buttonLoader">Confirm</span>
                    <span class="lod" *ngIf="buttonLoader">
                      <mat-progress-spinner
                        diameter="20"
                        mode="indeterminate"
                      ></mat-progress-spinner>
                    </span>
                  </button>
                  <button
                    mat-stroked-button
                    color="warn"
                    (click)="openReportErrorDialog()"
                  >
                    Report Error
                  </button>
                </div>
              </div>
            </div>
            <!-- </div> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
    <div
      class="mt-4"
      *ngIf="typeOfError && dataAccordingToDocument.inputFields.length > 0"
    >
      <div class="container-fluid">
        <div>
          <h1>Report Error</h1>
        </div>
        <div class="p-3 third-column">
          <div class="document">
            <label>Type of Error</label>
            <div class="col-md-11">
              <mat-form-field class="col-md-10" class="multi-chips">
                <mat-select [formControl]="typeOfErrorSelect" multiple>
                  <mat-select-trigger>
                    <mat-chip-list>
                      <mat-chip
                        *ngFor="let category of typeOfErrorSelect.value"
                        [removable]="true"
                        (removed)="onRemovedTypError(category)"
                        color="primary"
                        selected
                      >
                        {{ category }}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                    </mat-chip-list>
                  </mat-select-trigger>

                  <mat-option
                    *ngFor="
                      let category of dataAccordingToDocument.errorMessages
                    "
                    [value]="category"
                  >
                    {{ category }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="!typeOfErrorSelect.valid"
                  >*This field is Required</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-md-11 mt-3" [formGroup]="messageForBorrower">
              <span class="mt-1"> Message to Borrower</span>
              <mat-form-field>
                <!-- <mat-label>Textarea</mat-label> -->
                <textarea matInput formControlName="message"></textarea>
                <mat-error
                  *ngIf="messageForBorrower.controls['message'].errors && messageForBorrower.controls['message'].errors?.['required']"
                  >*This field is Required</mat-error
                >
              </mat-form-field>
            </div>

            <div class="d-flex align-items-center mt-2">
              <button
                mat-raised-button
                color="warn"
                (click)="handleReportError()"
                [ngClass]="reportErrorSaveButtonLoader ? 'disable' : ''"
                [disabled]="reportErrorSaveButtonLoader"
              >
                <span *ngIf="!reportErrorSaveButtonLoader"> Done</span>
                <span class="lod" *ngIf="reportErrorSaveButtonLoader">
                  <mat-progress-spinner
                    diameter="20"
                    mode="indeterminate"
                  ></mat-progress-spinner>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <div class="container-fluid">
        <div>
          <h1>Documents Verified</h1>
        </div>
        <div class="Documents-cards p-4">
          <div class="row align-items-center">
            <div class="col-md-3">
              <div class="card mb-3">
                <div class="d-flex align-items-center">
                  <img class="doc-icon" [src]="verified" alt="" />
                  <div class="doc-text">
                    <h3>{{ getVerifiedCount() }}</h3>
                    <p class="pt-2">Verified</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card mb-3">
                <div class="d-flex align-items-center">
                  <img class="doc-icon" [src]="unverified" alt="" />
                  <div class="doc-text">
                    <h3>{{ borrowerFileInfo?.length - getVerifiedCount() }}</h3>
                    <p class="pt-2">Pending</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card mb-3">
                <div class="d-flex align-items-center">
                  <img class="doc-icon" [src]="totaldoc" alt="" />
                  <div class="doc-text">
                    <h3>{{ borrowerFileInfo?.length }}</h3>
                    <p class="pt-2">Total Doc</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="text-center">
                <button
                  (click)="openDialog()"
                  mat-raised-button
                  color="warn"
                  class="px-4"
                  [disabled]="disableOnNoDocument"
                >
                  Finish
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
