<div class="error-modal">
    <h2 class="ce">CE-123456789</h2>
    <div class="my-3">
        <div class="row">
            <div class="col-md-6">
                <h4 class="text-end popup-text">Approved Doc - <span>{{data.approvedDoc}}</span></h4>
            </div>
            <div class="col-md-6">
                <h4 class="popup-text">Total Documents - <span>{{data.totalDoc}}</span></h4>
            </div>
        </div>
        <div class="">
            <h2 class="error-title">
                Errors
            </h2>
            <div class="error-lists">
                <div class="error-list">
                    <div class="d-flex justify-content-between">
                        <p class="error-doc-name m-0">Adhaar Card</p>
                        <p class="error-doc-type m-0">Type of error</p>
                    </div>
                </div>
                <div class="error-list">
                    <div class="d-flex justify-content-between ">
                        <p class="error-doc-name m-0">Adhaar Card</p>
                        <p class="error-doc-type m-0">Type of error</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 d-flex justify-content-between align-items-center mg-bg-blue mb-2">
            <h2 class="">
                Missing Documents
            </h2>
            <button class="add-btn mx-3" type="button">Add</button>
        </div>
        <div class="">
            <div class="mb-5">
                <p class="m-0 color-red">1. Pan Card</p>
                <p class="m-0 color-red">1. Driving License </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-end mt-5">
            <button class="Approved-btn" type="button">Approved User</button>
            </div>
            <div class="col-lg-6 mt-5">
                <button class="ask-more-btn" type="button">Ask More Question</button>
            </div>
        </div>
    </div>
</div>