<div class="error-modal">
  <h2 class="ce">{{ data.ceDealId }}</h2>
  <div class="close-icon-box">
    <mat-icon class="cross-icon" mat-dialog-close>close</mat-icon>
  </div>
  <div class="my-3">
    <div class="row">
      <div class="col-md-6">
        <h4 class="text-center popup-text">
          Approved Doc - <span>{{ data.approvedDoc }}</span>
        </h4>
      </div>
      <div class="col-md-6">
        <h4 class="popup-text text-center">
          Total Documents - <span>{{ data.totalDoc }}</span>
        </h4>
      </div>
    </div>
    <div class="">
      <h2 class="error-title">Errors</h2>
      <div class="error-lists" *ngIf="errorDocList.length > 0">
        <div class="error-list" *ngFor="let doc of errorDocList; let i = index">
          <div class="d-flex justify-content-between">
            <p class="error-doc-name m-0">{{ doc.cat }}</p>
            <p class="error-doc-type m-0">{{ doc.type }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="errorDocList.length === 0">
        <span class="errMsg">No error reported!</span>
      </div>
    </div>
    <div
      class="mt-4 d-flex position-relative justify-content-between align-items-center mg-bg-blue mb-2 py-2"
    >
      <h2 class="mb-0 ps-2">Missing Documents</h2>
      <div>
        <button
          class="add-btn mx-3"
          type="button"
          (click)="handleShowUploader()"
        >
          Add
        </button>
      </div>
    </div>
    <div class="" *ngIf="showUploader">
      <div class="mb-5">
        <div>
          <mat-form-field class="multi-chips w-100">
            <mat-label>Select Document</mat-label>
            <mat-select [formControl]="missingDocument" multiple>
              <mat-select-trigger>
                <mat-chip-list>
                  <mat-chip
                    *ngFor="let category of missingDocument.value"
                    [removable]="true"
                    (removed)="onRemovedTypDocument(category)"
                    selected
                  >
                    {{ category }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </mat-select-trigger>

              <mat-option
                *ngFor="let doc of documentWithErrorList"
                [value]="doc.documentCategory"
              >
                {{ doc.documentCategory }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!missingDocument.valid"
              >*This field is Required</mat-error
            >
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="text-center d-flex align-items-center">
      <button
        class="Approved-btn mx-2 mt-3"
        type="button"
        (click)="submitMissingDocument()"
        [ngClass]="buttonLoader ? 'disable' : ''"
        [disabled]="buttonLoader"
      >
        <span *ngIf="!buttonLoader">Approve User</span>
        <span class="btn-loader" *ngIf="buttonLoader">
          <mat-progress-spinner
            diameter="20"
            mode="indeterminate"
          ></mat-progress-spinner>
        </span>
      </button>
      <button class="ask-more-btn mx-2 mt-3" type="button">
        Ask More Question
      </button>
    </div>
  </div>
</div>
