.toolbar-spacer {
    flex: 1 1 auto;
  }

  a.title {
    color: white;
  }

  .loader {
    display: flex;
    justify-content: center;
  }
  .mat-form-field {
    width: 100%;
  }
  .mat-toolbar {
  background-color: #F2A000;
}